/* Generics */
header {
  height: 90px;
}

section {
  padding: 30px 0;
}

/* Utils */
.cs_rounded {
  border-radius: 12px;
}

.width-250px {
  width: 250px;
}

.bg-darkblue {
  background-color: #2C3E4F;
}

/* Header */

/* Main */
.hr-star {
  min-height: 40px;
  max-width: 200px;
  margin: 0 auto;
}

/* Section Intro profile */
#intro-profile {
  background-color: #19BC9C;
}

/* Section portfolio */

/* Section about */
#about {
  background-color: #19BC9C;
  color: white;
  padding: 70px;
}

.btn.bc-white {
  border: 1px solid white;
}

/* Section contact me */
#contact-me {
  padding: 40px 80px;
}

.message,.name,.e-mail,.phone {
  border-bottom: 1px solid gray;
}

.message {
  height: 160px;
}

/* Footer */
footer.bg-col-primary {
  background-color: #3B536D;
}

.footer-bottom.bg-col-secondary {
  background-color: #2C3E4F;
}

/***********************************************************/
/************************RESPONSIVE*************************/
/***********************************************************/

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}