/* Generics */
header {
  height: 100px;
  background-color: #2C3E4F;
}

section {
  padding: 40px 0;
}

h1,h2,p {
  min-height: 40px;
}

/* Utils */
.border-lay {
  border: 2px dashed red;
}

.row > [class^="col"] {
  background-color: blue;
  min-height: 50px;
}

.bg-col-house {
  background-color: #BA4B63;
}

.bg-col-cake {
  background-color: #1CA4B5;
}

.bg-col-circle {
  background-color: black;
}

.bg-col-game {
  background-color: #1B83C1;
}

.bg-col-safe {
  background-color: #0F38B5;
}

.bg-col-submarine {
  background-color: #CCB2A3;
}

/* Header */
.bi-costmz {
  font-size: 30px;
}

/* Main */
.hr-star {
  min-height: 40px;
  max-width: 200px;
  margin: 0 auto;
}

/* Section Intro profile */
#intro-profile {
  background-color: #19BC9C;
  min-height: 450px;
}

#intro-profile figure.img{
  min-height: 100px;
  max-width: 200px;
  background-color: royalblue;
  margin: 0 auto;
}

/* Section portfolio */
.card figure.img {
  min-height: 50px;
  width: 50px;
  background-color: royalblue;
  border-radius: 50%;
}

#portfolio .h-costmz {
  height: 250px;
}

/* Section about */
#about {
  background-color: #19BC9C;
  color: white;
  padding: 40px 70px;
}

.btn.bc-white {
  border: 1px solid white;
}

/* Section contact me */
#contact-me {
  padding: 40px 80px;
}

.message,.name,.e-mail,.phone {
  border-bottom: 1px solid gray;
}

.message {
  height: 160px;
}

/* Footer */
/* footer {
  padding: 50px 20px;
} */

footer.bg-col-primary {
  background-color: #3B536D;
}

footer .bg-col-secondary {
  background-color: #2C3E4F;
}

/***********************************************************/
/************************RESPONSIVE*************************/
/***********************************************************/

@media screen and (min-width: 768px) {
  #about .container {
    max-width: 620px;
  }

  #contact-me .container {
    max-width: 590px;
  }
}

@media screen and (min-width: 992px) {
  #about .container {
    max-width: 840px;
  }

  #contact-me .container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  body .container {
    max-width: 1140px;
  }
}